In [1]:
import IterativeBacktest as IB

In [2]:
bc = IB.IterativeBacktest("EURUSD", "2006-12-31", "2020-06-30", 100000, use_spread= True)

In [3]:
bc.data

                             price   spread   returns
time
2006-12-31 22:00:00+00:00  1.31985  0.00100       NaN
2007-01-01 22:00:00+00:00  1.32734  0.00015  0.005659
2007-01-02 22:00:00+00:00  1.31688  0.00015 -0.007912
2007-01-03 22:00:00+00:00  1.30845  0.00015 -0.006422
2007-01-04 22:00:00+00:00  1.30025  0.00100 -0.006287
...                            ...      ...       ...
2020-06-23 21:00:00+00:00  1.12507  0.00030 -0.005151
2020-06-24 21:00:00+00:00  1.12180  0.00023 -0.002911
2020-06-25 21:00:00+00:00  1.12184  0.00041  0.000036
2020-06-28 21:00:00+00:00  1.12424  0.00018  0.002137
2020-06-29 21:00:00+00:00  1.12331  0.00032 -0.000828

[4006 rows x 3 columns]