# Coding Exercises (Appendix 3)

Now, you will have the opportunity to analyze your own dataset. <br>
__Follow the instructions__ and insert your code! You are either requested to 
- Complete the Code and __Fill in the gaps__. Gaps are marked with "__---__" and are __placeholders__ for your code fragment. 
- Write Code completely __on your own__

In some exercises, you will find questions that can only be answered, if your code is correct and returns the right output! The correct answer is provided below your coding cell. There you can check whether your code is correct.

If you need a hint, check the __Hints Section__ at the end of this Notebook. Exercises and Hints are numerated accordingly.

If you need some further help or if you want to check your code, you can also watch the __solutions videos__ or check the __solutions notebook__.

### Have Fun!

--------------------------------------------------------------------------------------------------------------

### Exercise 10: Indexing and Slicing DataFrames

7. __Import Pandas__ (as pd), <br>
__Import__ the Cars Dataset (__cars.csv__) and save the DataFrame in the variable __cars__ and<br>
__Inspect/Print__ cars!

In [ ]:
import pandas as pd

In [ ]:
cars = pd.read_csv("cars.csv")

In [ ]:
cars

8. Select the column __"name"__ with the __attribute__ (dot) notation! What is the __name__ of the car with __index label 393__?

In [ ]:
cars.name

The name is ... ford mustang gl!

9. Apply also the __second alternative__ to select the column __"name"__!

In [ ]:
cars["name"]

10. __Select__ the car/row at __index position 100__ with the __iloc__ operator (all columns)! How many __cylinders__ does the car have?

In [ ]:
cars.iloc[100]

The car has ... 6 cylinders!

11. Select the car/row at __index position 200__ with the __iloc__ operator (and only the column __"name"__)! <br>
What is the __name__ of the car?

In [ ]:
cars.iloc[200, 8]

It´s a ... ford granada ghia!

12. Select the __last 10 rows__ and the columns __mpg, horsepower, origin__ and __name__ with the __iloc__ operator! __Fill in the Gaps__! <br>
What is the __mpg__ of the __vw pickup__?

In [ ]:
cars.iloc[-10:, [0, 3, 7, 8]]

The mpg is ... 44.0!

13. __Import__ the __Cars Dataset__ one more time (save in the variable __cars__) and set the column __"name"__ as the __index__! <br>
__Fill in the Gaps__!

In [ ]:
cars = pd.read_csv("cars.csv", index_col = "name")

In [ ]:
#run the cell and inspect!
cars

In [ ]:
#run the cell and inspect!
cars.info()

14. __Inspect__ the new Index of the DataFrame by calling the __index__ attribute!

In [ ]:
cars.index

15. Select the __row__ with the index label __"ford ranger"__ (use the __loc__ operator)! What is the __weight__?

In [ ]:
cars.loc["ford ranger"]

The weight is ... 2625!

16. Select the __row__ with the index label __"ford torino"__ and only the columns __"model_year"__ and __"origin"__! <br>
What´s the __model year__?

In [ ]:
cars.loc["ford torino", ["model_year", "origin"]]

The model year is ... 70!

17. Select the columns __"mpg"__ and __"weight"__ (all rows) with the __loc__ operator!

In [ ]:
cars.loc[:, ["mpg", "weight"]]

# Well Done!

---------------------------------------------------------------------------------------------------------------------

# Hints (Spoiler!)

7. pandas as pd, pd.read_csv("filename"), head()

8. cars.---

9. cars["---"]

10. cars.iloc[---]

11. cars.iloc[row index position, column index position]; "name" column is at index position ... 8

12. The last 10 rows = from index position -10 till the end (:); Count the column index positions of the Columns

13. parameter index_col

14. cars.---

15. cars.loc["row label"]

16. cars.loc[---, [---, ---]]

17.  cars.loc[ : , [---, ---]]

In [1]:
x=list(range(5))

In [2]:
x

[0, 1, 2, 3, 4]

In [8]:
l = list[1]

TypeError: 'type' object is not subscriptable

In [12]:
tu = (x+x,x)

In [13]:
tu

([0, 1, 2, 3, 4, 0, 1, 2, 3, 4], [0, 1, 2, 3, 4])

In [15]:
tu[1]

[0, 1, 2, 3, 4]

In [16]:
tu[0]

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

In [18]:
tu[0][0]

0

In [19]:
tu[1][2]

2

In [20]:
tu[1][4]

4

In [30]:
import pandas as pd
titanic = pd.read_csv("titanic-Copy1.csv")
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   survived  891 non-null    int64
 1   pclass    891 non-null    int64
 2   sex       891 non-null    object
 3   age       714 non-null    float64
 4   sibsp     891 non-null    int64
 5   parch     891 non-null    int64
 6   fare      891 non-null    float64
 7   embarked  889 non-null    object
 8   deck      203 non-null    object
dtypes: float64(2), int64(4), object(3)
memory usage: 62.8+ KB

In [110]:
gbo = list(titanic.loc[:].sort_values(by="fare").groupby(by="sex"))

In [111]:
gbo

[('female',
       survived  pclass     sex   age  sibsp  parch      fare embarked deck
  654         0       3  female  18.0      0      0    6.7500        Q  NaN
  875         1       3  female  15.0      0      0    7.2250        C  NaN
  19          1       3  female   NaN      0      0    7.2250        C  NaN
  780         1       3  female  13.0      0      0    7.2292        C  NaN
  367         1       3  female   NaN      0      0    7.2292        C  NaN
  ..        ...     ...     ...   ...    ...    ...       ...      ...  ...
  742         1       1  female  21.0      2      2  262.3750        C    B
  311         1       1  female  18.0      2      2  262.3750        C    B
  88          1       1  female  23.0      3      2  263.0000        S    C
  341         1       1  female  24.0      3      2  263.0000        S    C
  258         1       1  female  35.0      0      0  512.3292        C  NaN

  [314 rows x 9 columns]),
 ('male',
       survived  pclass   sex   age  sibsp  parch      fare embarked deck
  271         1       3  male  25.0      0      0    0.0000        S  NaN
  597         0       3  male  49.0      0      0    0.0000        S  NaN
  302         0       3  male  19.0      0      0    0.0000        S  NaN
  633         0       1  male   NaN      0      0    0.0000        S  NaN
  277         0       2  male   NaN      0      0    0.0000        S  NaN
  ..        ...     ...   ...   ...    ...    ...       ...      ...  ...
  118         0       1  male  24.0      0      1  247.5208        C    B
  27          0       1  male  19.0      3      2  263.0000        S    C
  438         0       1  male  64.0      1      4  263.0000        S    C
  737         1       1  male  35.0      0      0  512.3292        C    B
  679         1       1  male  36.0      0      1  512.3292        C    B

  [577 rows x 9 columns])]

In [112]:
type(gbo[0])

tuple

In [113]:
bydeck=list(gbo[1][1].loc[:].groupby("deck"))

In [114]:
bydeck

[('A',
       survived  pclass   sex   age  sibsp  parch     fare embarked deck
  806         0       1  male  39.0      0      0   0.0000        S    A
  284         0       1  male   NaN      0      0  26.0000        S    A
  630         1       1  male  80.0      0      0  30.0000        S    A
  174         0       1  male  56.0      0      0  30.6958        C    A
  209         1       1  male  40.0      0      0  31.0000        C    A
  96          0       1  male  71.0      0      0  34.6542        C    A
  647         1       1  male  56.0      0      0  35.5000        C    A
  23          1       1  male  28.0      0      0  35.5000        S    A
  583         0       1  male  36.0      0      0  40.1250        C    A
  185         0       1  male   NaN      0      0  50.0000        S    A
  867         0       1  male  31.0      0      0  50.4958        S    A
  475         0       1  male   NaN      0      0  52.0000        S    A
  599         1       1  male  49.0      1      0  56.9292        C    A
  445         1       1  male   4.0      0      2  81.8583        S    A),
 ('B',
       survived  pclass   sex   age  sibsp  parch      fare embarked deck
  263         0       1  male  40.0      0      0    0.0000        S    B
  815         0       1  male   NaN      0      0    0.0000        S    B
  872         0       1  male  33.0      0      0    5.0000        S    B
  536         0       1  male  45.0      0      0   26.5500        S    B
  487         0       1  male  58.0      0      0   29.7000        C    B
  632         1       1  male  32.0      0      0   30.5000        C    B
  170         0       1  male  61.0      0      0   33.5000        S    B
  671         0       1  male  31.0      1      0   52.0000        S    B
  690         1       1  male  31.0      1      0   57.0000        S    B
  54          0       1  male  65.0      0      1   61.9792        C    B
  745         0       1  male  70.0      1      1   71.0000        S    B
  587         1       1  male  60.0      1      1   79.2000        C    B
  789         0       1  male  46.0      0      0   79.2000        C    B
  139         0       1  male  24.0      0      0   79.2000        C    B
  484         1       1  male  25.0      1      0   91.0792        C    B
  802         1       1  male  11.0      1      2  120.0000        S    B
  390         1       1  male  36.0      1      2  120.0000        S    B
  118         0       1  male  24.0      0      1  247.5208        C    B
  737         1       1  male  35.0      0      0  512.3292        C    B
  679         1       1  male  36.0      0      1  512.3292        C    B),
 ('C',
       survived  pclass   sex    age  sibsp  parch      fare embarked deck
  430         1       1  male  28.00      0      0   26.5500        S    C
  711         0       1  male    NaN      0      0   26.5500        S    C
  252         0       1  male  62.00      0      0   26.5500        S    C
  452         0       1  male  30.00      0      0   27.7500        C    C
  331         0       1  male  45.50      0      0   28.5000        S    C
  273         0       1  male  37.00      0      1   29.7000        C    C
  839         1       1  male    NaN      0      0   29.7000        C    C
  889         1       1  male  26.00      0      0   30.0000        C    C
  449         1       1  male  52.00      0      0   30.5000        S    C
  298         1       1  male    NaN      0      0   30.5000        S    C
  492         0       1  male  55.00      0      0   30.5000        S    C
  351         0       1  male    NaN      0      0   35.0000        S    C
  55          1       1  male    NaN      0      0   35.5000        S    C
  712         1       1  male  48.00      1      0   52.0000        S    C
  110         0       1  male  47.00      0      0   52.0000        S    C
  137         0       1  male  37.00      1      0   53.1000        S    C
  336         0       1  male  29.00      1      0   66.6000        S    C
  741         0       1  male  36.00      1      0   78.8500        S    C
  62          0       1  male  45.00      1      0   83.4750        S    C
  453         1       1  male  49.00      1      0   89.1042        C    C
  224         1       1  male  38.00      1      0   90.0000        S    C
  245         0       1  male  44.00      2      0   90.0000        Q    C
  544         0       1  male  50.00      1      0  106.4250        C    C
  505         0       1  male  18.00      1      0  108.9000        C    C
  550         1       1  male  17.00      0      2  110.8833        C    C
  698         0       1  male  49.00      1      1  110.8833        C    C
  305         1       1  male   0.92      1      2  151.5500        S    C
  332         0       1  male  38.00      0      1  153.4625        S    C
  377         0       1  male  27.00      0      2  211.5000        C    C
  527         0       1  male    NaN      0      0  221.7792        S    C
  27          0       1  male  19.00      3      2  263.0000        S    C
  438         0       1  male  64.00      1      4  263.0000        S    C),
 ('D',
       survived  pclass   sex   age  sibsp  parch      fare embarked deck
  292         0       2  male  36.0      0      0   12.8750        C    D
  21          1       2  male  34.0      0      0   13.0000        S    D
  740         1       1  male   NaN      0      0   30.0000        S    D
  782         0       1  male  29.0      0      0   30.0000        S    D
  625         0       1  male  61.0      0      0   32.3208        S    D
  515         0       1  male  47.0      0      0   34.0208        S    D
  248         1       1  male  37.0      1      1   52.5542        S    D
  621         1       1  male  42.0      1      0   52.5542        S    D
  748         0       1  male  19.0      1      0   53.1000        S    D
  97          1       1  male  23.0      0      1   63.3583        C    D
  681         1       1  male  27.0      0      0   76.7292        C    D
  645         1       1  male  48.0      1      0   76.7292        C    D
  124         0       1  male  54.0      0      1   77.2875        S    D
  102         0       1  male  21.0      0      1   77.2875        S    D
  659         0       1  male  58.0      0      2  113.2750        C    D),
 ('E',
       survived  pclass   sex   age  sibsp  parch     fare embarked deck
  429         1       3  male  32.0      0      0   8.0500        S    E
  751         1       3  male   6.0      0      1  12.4750        S    E
  662         0       1  male  47.0      0      0  25.5875        S    E
  707         1       1  male  42.0      0      0  26.2875        S    E
  701         1       1  male  35.0      0      0  26.2875        S    E
  512         1       1  male  36.0      0      0  26.2875        S    E
  572         1       1  male  36.0      0      0  26.3875        S    E
  456         0       1  male  65.0      0      0  26.5500        S    E
  857         1       1  male  51.0      0      0  26.5500        S    E
  460         1       1  male  48.0      0      0  26.5500        S    E
  462         0       1  male  47.0      0      0  38.5000        S    E
  6           0       1  male  54.0      0      0  51.8625        S    E
  724         1       1  male  27.0      1      0  53.1000        S    E
  370         1       1  male  25.0      1      0  55.4417        C    E
  434         0       1  male  50.0      1      0  55.9000        S    E
  92          0       1  male  46.0      1      0  61.1750        S    E
  262         0       1  male  52.0      1      1  79.6500        S    E),
 ('F',
       survived  pclass   sex   age  sibsp  parch   fare embarked deck
  715         0       3  male  19.0      0      0   7.65        S    F
  75          0       3  male  25.0      0      0   7.65        S    F
  699         0       3  male  42.0      0      0   7.65        S    F
  776         0       3  male   NaN      0      0   7.75        Q    F
  193         1       2  male   3.0      1      1  26.00        S    F
  148         0       2  male  36.5      0      2  26.00        S    F
  340         1       2  male   2.0      1      1  26.00        S    F
  183         1       2  male   1.0      2      1  39.00        S    F)]

In [115]:
bydeck[0][1]

     survived  pclass   sex   age  sibsp  parch     fare embarked deck
806         0       1  male  39.0      0      0   0.0000        S    A
284         0       1  male   NaN      0      0  26.0000        S    A
630         1       1  male  80.0      0      0  30.0000        S    A
174         0       1  male  56.0      0      0  30.6958        C    A
209         1       1  male  40.0      0      0  31.0000        C    A
96          0       1  male  71.0      0      0  34.6542        C    A
647         1       1  male  56.0      0      0  35.5000        C    A
23          1       1  male  28.0      0      0  35.5000        S    A
583         0       1  male  36.0      0      0  40.1250        C    A
185         0       1  male   NaN      0      0  50.0000        S    A
867         0       1  male  31.0      0      0  50.4958        S    A
475         0       1  male   NaN      0      0  52.0000        S    A
599         1       1  male  49.0      1      0  56.9292        C    A
445         1       1  male   4.0      0      2  81.8583        S    A